* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  background: #fff;
  overflow: hidden;
}
/*updated styles for header*/
.column-right {
  margin: 10px 20px 20px;
  background: #fff;
  border: 1px solid #eee;
  height: 85vh;
}
.tree--action-controls,
.tree--action-controls-hide{
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  margin-bottom: 10px;
}
.tree--action-controls-hide{
  visibility: hidden;
}

.demo-container {
  background: white;
}
.divider {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 16px;
}
.view-controls {
  display: flex;
  text-align: start;
  padding: 20px 20px 0 20px;
  margin-bottom: 0px;
  justify-content: space-between;
}
.view-container {
  overflow: auto;
  height: 100%;
  margin-bottom: 20px;

}

.h1-heading,
.h2-heading
{
  font-family: 'IBM Plex Sans','Helvetica Neue',Arial,sans-serif;
  font-size: 24px;
  margin: 20px 0 8px;
  cursor: text;
  position: relative;
  color: #2E3438;
  padding: 0 0 4px;
  border-bottom: 1px solid hsla(203, 50%, 30%, 0.15);
}
.h2-heading{
  padding-left: 25px;
}

.toc-Wrapper{
  margin: auto;
  width: 50%;
  padding-bottom: 20px;
  line-height: 1.5;

}
.sub-item{
  margin-left: 35px;
}
.primary {
  color: black;
  font-weight: 700;
}
.primary::before{
  content: "•"; color: green;
  display: inline-block; width: 1em;
  margin-left: -1em
}
.secondary{
  color: #666666;
  font-weight: 400;
}
.node-textContainer{
  /*border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
  border: 1px solid rgba(38,85,115,.15);*/
}
.link-style{
  color: #337ab7;
  text-decoration: none;
  background: transparent;
  border: none;
}
.link-style:hover,
.link-style:focus{
  color: #23527c;
  text-decoration: underline;

}
